@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark-bg: #1F2937;
    --title-color: #F9FAF8;
    --secondary-text: #E5E7EB;
    --dark-text: #a4a4a5;
    --btn-cta: #3882F6;
}


* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto';
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
}

.title {
    font-size: 24px;
    color: var(--title-color);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-bg);
    padding: 10px 10px 100px 10px;
    gap: 10rem;

    .nav {
        min-width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50rem;

        .logo {
            flex: 1;
        }

        .nav-list {
            flex: 1;
            display: flex;
            justify-content: space-between;
            gap: 2rem;
        }

        a {
            color: white;
        }
    }

    .hero-section {
        min-width: 90%;
        display: flex;
        gap: 5rem;

        .hero-content {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 1rem;

            h1 {
                font-size: 48px;
                font-weight: 900;
                color: var(--title-color);
            }

            p {
                font-size: 18px;
                color: var(--secondary-text);
            }

            button {
                padding: 10px 30px;
                align-self: flex-start;
                border: none;
                border-radius: 5px;
                background-color: var(--btn-cta);
                color: white;
                font-weight: 900;
            }
        }

        .hero-img {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: #6D757D;
        }

    }
}

main {
    flex: 1;
    margin: 50px 0px;

    h1 {
        text-align: center;
        margin-bottom: 4rem;
    }

    .container-cards {
        display: flex;
        margin-bottom: 8rem;
        justify-content: center;
        align-items: center;
        gap: 5rem;

        .card {
            display: flex;
            gap: 1rem;
            flex-direction: column;
            width: 150px;
            height: auto;

            img {
                width: 150px;
                height: 150px;
                border: 3px solid var(--btn-cta);
                border-radius: 10px;
            }

            p {
                color: var(--dark-text);
                text-align: center;
            }
        }
    }

    .container-quote {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #E5E7EB;
        padding: 10rem;
        margin-bottom: 4rem;

        .quote-content {
            display: flex;
            flex-direction: column;

            p:first-child {
                font-size: 36px;
                color: #1F2937;
                font-weight: 300;
                font-style: italic;
            }

            p:last-child {
                font-size: 1.4rem;
                font-weight: bold;
                align-self: flex-end;
            }
        }
    }

    .container-cta {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        .cta-content {
            display: flex;
            width: 80%;
            justify-content: space-around;
            background-color: var(--btn-cta);
            border-radius: 10px;
            padding: 2rem;

            h2{
                color: white;
                margin-bottom: 2px;
            }
            p{
                color: rgb(231, 231, 231);
            }

            button{
                padding: 0px 4rem;
                background-color: transparent;
                color: white;
                font-size: 1.2rem;
                font-weight: bold;
                border: 2px solid white;
                border-radius: 10px;
            }
        }
    }

}